@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root {
    /*Layouts*/
    --mobileWidth: 375px;
    --desktopWidth: 1440px;
    /* Colors */
    --clr-Red: hsl(0, 78%, 62%);
    --clr-Cyan: hsl(180, 62%, 55%);
    --clr-Orange: hsl(34, 97%, 64%);
    --clr-Blue: hsl(212, 86%, 64%);
    --clr-neutral-100: hsl(0, 0%, 98%);
    --clr-neutral-200: hsl(229, 6%, 66%);
    --clr-neutral-600: hsl(234, 12%, 34%);
    --clr-shadow: hsla(234, 66%, 36%, 0.18);
    /* Font Size */
    font-size: 10px;
    /* Font Weight */
    --fw-200: 200;
    --fw-400: 400;
    --fw-600: 600;
    /* Typography */
    --ff-primary: 'Poppins', sans-serif;
    /*Utilities*/
    --opacity-bg-container: .3;
}


/*** A Modern CSS Reset by https://piccalil.li/blog/a-modern-css-reset/ ***/


/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}


/* Remove list styles, margin and padding on ul, ol elements */

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Set core root defaults */

html:focus-within {
    scroll-behavior: smooth;
}


/* Set core body defaults */

body {
    min-height: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1;
}


/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}


/* A elements inherit color */

a {
    color: inherit;
}


/* Make images easier to work with */

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    display: grid;
    place-items: center;
    font-family: var(--ff-primary);
    background-color: var(--clr-neutral-100);
}

main {
    min-height: 100vh;
    padding: 8.2rem 3.2rem;
}

header {
    display: grid;
    justify-content: center;
    text-align: center;
    line-height: 1.6;
    letter-spacing: .02rem;
}

header :is(h1,
h2) {
    font-size: clamp(2.4rem, 4.5vw, 3.65rem);
}

header h1 {
    font-weight: var(--fw-200);
    color: var(--clr-neutral-600);
}

header h2 {
    color: var(--clr-neutral-600);
    margin-block: 0 1.5rem;
}

header p {
    font-size: 1.5rem;
    color: var(--clr-neutral-200);
    max-width: 52rem;
}

.card-container {
    display: grid;
    gap: 2.4rem;
    margin-block: 7.6rem 0;
    place-items: center;
}

.container {
    position: relative;
    max-width: 35rem;
    min-width: 16rem;
    display: flex;
    flex-direction: column;
    border-radius: .6rem;
    padding: 2rem 2.8rem 2.9rem;
    line-height: 1.8;
    background-color: var(--clr-neutral-100);
    box-shadow: 0 1rem 2rem 0 var(--clr-shadow);
    overflow: hidden;
    transition: all .4s ease-out;
}

.container::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    opacity: var(--opacity-bg-container);
    transition: all .4s ease-out;
}

.card-container .container:nth-child(1) {
    border-top: .4rem solid var(--clr-Cyan);
}

.card-container .container:nth-child(1)::before {
    background: linear-gradient(#ffffff00 45%, var(--clr-Cyan));
}

.card-container .container:nth-child(2) {
    border-top: .4rem solid var(--clr-Red);
}

.card-container .container:nth-child(2)::before {
    background: linear-gradient(#ffffff00 45%, var(--clr-Red));
}

.card-container .container:nth-child(3) {
    border-top: .4rem solid var(--clr-Orange);
}

.card-container .container:nth-child(3)::before {
    background: linear-gradient(#ffffff00 45%, var(--clr-Orange));
}

.card-container .container:nth-child(4) {
    border-top: .4rem solid var(--clr-Blue);
}

.card-container .container:nth-child(4)::before {
    background: linear-gradient(#ffffff00 45%, var(--clr-Blue));
}

.container h2 {
    font-size: 2rem;
    color: var(--clr-neutral-600);
    letter-spacing: -.016rem;
}

.container p {
    font-size: 1.3rem;
    letter-spacing: .01rem;
    color: var(--clr-neutral-200);
    margin-block: 0 3rem;
}

.container .image {
    align-self: flex-end;
    transition: all .4s ease-out;
}

.container .image img {
    width: clamp(5.7rem, 10vw, 100%);
    -webkit-filter: drop-shadow( .4rem .4rem .3rem rgba(0, 0, 0, 0));
    filter: drop-shadow( .4rem .4rem .3rem rgba(0, 0, 0, 0));
    transition: all .4s ease-out;
}

.container:hover,
.container:focus-within {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.container:hover .image,
.container:focus-within .image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.container:hover .image img,
.container:focus-within .image img {
    -webkit-filter: drop-shadow( .4rem .4rem .3rem rgba(0, 0, 0, .3));
    filter: drop-shadow( .4rem .4rem .3rem rgba(0, 0, 0, .3));
}

.card-container .container:hover::before,
.card-container .container:focus-within::before {
    height: 100%;
}

footer {
    color: var(--clr-neutral-200);
}

@media only screen and (min-width:600px) and (max-width:1000px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        height: 100%;
    }
}

@media only screen and (min-width:1001px) {
    main {
        padding: 8rem 3.2rem;
    }
    header {
        letter-spacing: 0;
    }
    header :is(h1,
    h2) {
        line-height: 1.4;
    }
    header p {
        letter-spacing: .02rem;
    }
    .card-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-block: 6.7rem 0;
        gap: 3rem;
    }
    .card-container .container:nth-child(1) {
        grid-row: 1 / span 2;
        align-self: center;
    }
    .card-container .container:nth-child(4) {
        grid-column-start: 3;
        grid-row: 1 / span 2;
        align-self: center;
    }
    .container {
        min-height: 25rem;
        padding: 2.4rem 3.2rem;
    }
    .container h2 {
        margin-block: 0 .5rem;
    }
    .container p {
        margin-block: 0 3.7rem;
    }
}
