@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
:root {
    /*Layouts*/
    --mobileWidth: 375px;
    --desktopWidth: 1440px;
    /* Colors */
    --clr-primary-violet: hsl(263, 55%, 52%);
    --clr-primary-gray-blue: hsl(217, 19%, 35%);
    --clr-primary-black-blue: hsl(219, 29%, 14%);
    --clr-shadow: hsla(217, 19%, 35%, 0.4);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(210, 46%, 95%);
    --clr-neutral-300: hsl(0, 0%, 81%);
    /* Font Size */
    font-size: 10px;
    /* Font Weight */
    --fw-500: 500;
    --fw-600: 600;
    /* Typography */
    --ff-primary: 'Barlow Semi Condensed', sans-serif;
}


/*** A Modern CSS Reset by https://piccalil.li/blog/a-modern-css-reset/ ***/


/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}


/* Remove list styles, margin and padding on ul, ol elements */

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Set core root defaults */

html:focus-within {
    scroll-behavior: smooth;
}


/* Set core body defaults */

body {
    min-height: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1;
}


/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}


/* A elements inherit color */

a {
    color: inherit;
    text-decoration: none;
}


/* Make images easier to work with */

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/*** Utilities ***/

.clr-gray-blue {
    color: var(--clr-primary-gray-blue);
}

.clr-neutral-300 {
    color: var(--clr-neutral-300);
}


/*** End Utilities ***/

main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: var(--ff-primary);
    font-size: 1.3rem;
    line-height: 1.4;
    color: var(--clr-neutral-200);
    background-color: var(--clr-neutral-200);
}

section {
    display: grid;
    grid-template-areas: "art1 art1 art2 art5" "art3 art4 art4 art5";
    grid-auto-columns: 1fr;
    max-width: 111rem;
    gap: clamp(2rem, 4vw, 3rem);
    margin: clamp(2.5rem, 4vw, 3rem);
}

section article {
    display: flex;
    flex-direction: column;
    padding: 2.8rem 3.2rem;
    gap: 1.8rem;
    border-radius: .8rem;
    box-shadow: 4rem 2rem 6rem -2rem var(--clr-shadow);
}

section article:nth-child(1) {
    grid-area: art1;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 20%;
    background-color: var(--clr-primary-violet);
}

section article:nth-child(2) {
    grid-area: art2;
    background-color: var(--clr-primary-gray-blue);
}

section article:nth-child(3) {
    grid-area: art3;
    background-color: var(--clr-neutral-100);
}

section article:nth-child(4) {
    grid-area: art4;
    background-color: var(--clr-primary-black-blue);
}

section article:nth-child(5) {
    grid-area: art5;
    background-color: var(--clr-neutral-100);
}

article .infos {
    display: flex;
    align-items: center;
}

article .infos img {
    max-width: 3rem;
    margin-right: 1.6rem;
    border: .2rem solid var(--clr-neutral-300);
    border-radius: 50%;
}

article .infos .info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

article .infos .info .status {
    font-size: 1.1rem;
    opacity: .5;
}

article .quote {
    font-size: 2rem;
    font-weight: var(--fw-600);
    line-height: 1.2;
}

article .review {
    opacity: .7;
}

@media screen and (min-width:951px) and (max-width:1050px) {
    section {
        grid-template-areas: "art1 art1 art2 art3" "art4 art4 art5 art5";
    }
}

@media screen and (min-width:768px) and (max-width:950px) {
    section {
        grid-template-areas: "art1 art1 art4 art4" "art5 art5 art2 art2" "art5 art5 art3 art3";
    }
}

@media screen and (min-width:640px) and (max-width:767px) {
    section {
        grid-template-areas: "art1 art1 art1 art1" "art2 art2 art3 art3" "art4 art4 art5 art5";
    }
}

@media screen and (max-width:639px) {
    section {
        grid-template-areas: "art1 " "art2" "art3" "art4" "art5";
    }
}