@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;700&display=swap");

@font-face {
    font-family: 'Erbos Draco 1st Nbp Regular', sans-serif;
    src: url(assets/fonts/ErbosDraco1StNbpRegular-99V5.ttf);
}

:root {
    /*Layouts*/

    --mobileWidth: ;
    --desktopWidth: ;

    /* Colors */

    --clr-pink: #f42a85;
    --clr-pink-gradient: linear-gradient(transparent, #F42A85);
    --clr-purple: #642dbe;
    --clr-purple-gradient: linear-gradient(transparent, #642DBE);
    --clr-cyan: #00aeb8;
    --clr-cyan-gradient: linear-gradient(transparent, #00AEB8);
    --clr-yellow: #f4c434;
    --clr-yellow-gradient: linear-gradient(transparent, #F4C434);
    --clr-orange: #f3851f;
    --clr-orange-gradient: linear-gradient(transparent, #F3851F);
    --clr-main-bg-gradient: linear-gradient(var(--clr-neutral-900) 40%, var(--clr-neutral-700));
    --clr-second-bg-gradient: linear-gradient(rgba(13, 44, 58, 0), rgba(255, 255, 255, 0));
    --clr-neutral-100: rgb(255, 239, 215);
    --clr-neutral-700: #00252D;
    --clr-neutral-900: #071015;

    /* Font Size */

    font-size: 10px;

    /* Font Weight */

    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    /* Typography */

    --ff-primary: 'Cairo', sans-serif;
    --ff-logo: 'Erbos Draco 1st Nbp Regular';
}


/*** A Modern CSS Reset by https://piccalil.li/blog/a-modern-css-reset/ ***/


/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}


/* Remove list styles, margin and padding on ul, ol elements */

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Set core root defaults */

html:focus-within {
    scroll-behavior: smooth;
}


/* Set core body defaults */

body {
    min-height: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1;
}


/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Remove A elements text-decoration, and inherit color for A elements*/

a {
    color: inherit;
    text-decoration: none;
}

/* Make images easier to work with */

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    background: var(--clr-main-bg-gradient);
    font-family: var(--ff-primary);
    line-height: 1.4;
    color: var(--clr-neutral-100);
    overflow-x: hidden;
    background-attachment: fixed;
}


header {
    display: grid;
    grid-template-areas: "empty logo social-media" "menu-left logo menu-right";
    grid-template-columns: 1fr 31rem 1fr;
    width: 100%;
    height: 25rem;
    font-size: 1.8rem;
    /* background-color: red; */


}

.logo {
    grid-area: logo;
    display: flex;
    gap: .5rem;
    justify-content: center;
    /* background-color: yellow; */
}

.logo li {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    line-height: .8;
    padding: .3rem;
    color: rgb(255, 251, 242);
    font-weight: var(--fw-700);
    text-shadow: 0 -.2rem .3rem rgba(0, 0, 0, 0.521);
    /* box-shadow: inset 0 -.3rem .3rem rgba(0, 0, 0, 0.473); */
}


.logo li:nth-child(1) {
    background: var(--clr-pink-gradient);
    font-size: 9.6rem;
    height: 18.5rem;
    width: 8rem;
}

.logo li:nth-child(2) {
    background: var(--clr-purple-gradient);
    font-size: 4.8rem;
    height: 15rem;
    width: 3rem;
    line-height: unset;
}

.logo li:nth-child(3) {
    background: var(--clr-cyan-gradient);
    font-size: 12.8rem;
    height: 21rem;
    width: 6rem;
}

.logo li:nth-child(4) {
    background: var(--clr-yellow-gradient);
    font-size: 6.4rem;
    height: 16rem;
    width: 4.6rem;
}

.logo li:nth-child(5) {
    background: var(--clr-orange-gradient);
    font-size: 8rem;
    height: 17rem;
    width: 4.9rem;
}



.social-media {
    grid-area: social-media;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    gap: .8rem;
    /* background-color: rgb(0, 247, 255); */
}

.social-media img {
    width: 2.2rem;
}

.social-media li:nth-child(1) {
    filter: invert();
}

.menu-left,
.menu-right {
    display: flex;
    align-self: flex-end;

    gap: 5rem;
    width: 100%;
    /* background-color: blue; */
}

.menu-left {
    grid-area: menu-left;
    justify-content: flex-end;
    padding-right: 15rem;
}

.menu-right {
    grid-area: menu-right;
    padding-left: 15rem;
}

.active {
    box-shadow: 0 .6rem 0 -.3rem var(--clr-cyan);
}

.item {
    color: var(--clr-neutral-100);
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: var(--fw-300);
    padding-left: .3rem;
    /* background-color: #f3851f; */
}

main {
    width: 100%;
    height: calc(100vh - 25rem);
    /* background-color: rosybrown; */

}

.main-bg-grid {
    position: relative;
    display: grid;
    grid-template-areas: "grid-left logo-bottom grid-right";
    grid-template-columns: 1fr 31rem 1fr;
    min-width: 100vw;
    min-height: 100%;
}

.main-bg-grid .logo {
    transform: rotateY(-180deg) rotateZ(-180deg);
    grid-area: logo-bottom;
}


.main-bg-grid .logo li:nth-child(1) {
    height: 63.3vh;
}

.main-bg-grid .logo li:nth-child(2) {
    height: 67vh;
}

.main-bg-grid .logo li:nth-child(3) {
    height: 60.6vh;
}

.main-bg-grid .logo li:nth-child(4) {
    height: 65.9vh;
}

.main-bg-grid .logo li:nth-child(5) {
    height: 64.8vh;
}

.box-left,
.box-right {
    /* position: absolute; */
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: 20vh;
    min-width: 100%;
    min-height: 100%;
    /* mix-blend-mode: multiply; */
    gap: .8rem;
    opacity: .3;
}

.box-left {
    grid-area: grid-left;
}

.box-right {
    grid-area: grid-right;
}


/*-------------*/

/* .toggle-menu,
.screen-overlay {
    display: none;
}

main {
    grid-column: 2 / 3;
    margin-top: 15.5rem;
}

h2 {
    margin-block: 4rem;
    font-size: 3rem;
    font-weight: var(--fw-200);
}

h1 {
    font-size: 6rem;
    border-bottom: .3rem solid var(--clr-cyan);
    /* border-left: .2rem solid var(--clr-cyan); */
width: fit-content;
margin-top: 2rem;
/* line-height: .72; */
}

.title {
    margin-bottom: 5rem;
    /* background-color: red; */
}

.path {
    font-size: 1.5rem;
    color: var(--clr-cyan);
}

.subtitle {
    font-size: 1.8rem;
    opacity: .5;
    margin-block: 1rem;
    font-weight: var(--fw-200);
}

.carousel {
    height: 50rem;
    background-color: rgb(66, 62, 57);
}

.main-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, minmax(10rem, 1fr));
    margin-block: 0 10rem;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 0;
    border: .3rem dashed hsl(240, 17%, 27%);
    transition: transform .3s ease-in-out;
    backdrop-filter: blur(2rem);
}

.project-container:hover {
    transform: scale(1.1);
}

.project-container a {
    height: 100%;
    background-color: red;
}

.project-container img {
    height: 100%;
    object-fit: cover;
}

.project-name {
    font-size: 1.5rem;
    font-weight: var(--fw-200);
    padding: 1rem;
}

*/