:root {
    /* Colors */
    --primaryDarkCyan: hsl(158, 36%, 37%);
    --primaryDarkCyanHover: hsl(158, 36%, 20%);
    --primaryCream: hsl(30, 38%, 92%);
    --neutralDark: hsl(212, 21%, 14%);
    --neutralGray: hsl(228, 12%, 48%);
    --neutralWhite: hsl(0, 0%, 100%);
    /* Font Size */
    --fs-paragraph: 14px;
    /* Font Weight */
    --fw-500: 500;
    --fw-700: 700;
    /* Typography */
    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-fraunces: 'Fraunces', serif;
}


/*** A Modern CSS Reset by https://piccalil.li/blog/a-modern-css-reset/ ***/


/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
    list-style: none;
}


/* Set core root defaults */

html:focus-within {
    scroll-behavior: smooth;
}


/* Set core body defaults */

body {
    min-height: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1;
}


/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}


/* Make images easier to work with */

img,
picture {
    max-width: 100%;
    display: block;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    background-color: var(--primaryCream);
    font-size: var(--fs-paragraph);
    font-family: var(--ff-montserrat);
}

main {
    display: flex;
    min-height: 100vh;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 450px;
    max-width: 600px;
    border-radius: .5em;
    background-color: var(--neutralWhite);
    overflow: hidden;
}

.product-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: clamp(1.5em, 5vw, 2.26em);
}

.product-content p {
    line-height: 1.65em;
    color: var(--neutralGray);
}

.product-category {
    text-transform: uppercase;
    font-size: clamp(.85em, 3vw, .9em);
    letter-spacing: .35em;
}

.product-content h1 {
    font-family: var(--ff-fraunces);
    font-size: 2.3em;
    color: var(--neutralDark);
    margin: .3em 0 .3em 0;
}

.product-description {
    margin: .3em 0 .3em 0;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 1.35em;
    margin: 1.5em 0 1.5em 0;
}

.product-price span:nth-child(1) {
    font-family: var(--ff-fraunces);
    font-size: 2.3em;
    color: var(--primaryDarkCyan);
}

.product-price span:nth-child(2) {
    font-size: .93em;
}

.product-content button {
    display: flex;
    font-weight: var(--fw-700);
    color: var(--neutralWhite);
    border: 0;
    background-color: var(--primaryDarkCyan);
    padding: 1.12em 0;
    border-radius: .5em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1em;
}

.product-content :is(button:hover, button:focus-visible) {
    background-color: var(--primaryDarkCyanHover);
}

@media only screen and (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
        min-width: 90vw;
    }
}